@font-face {
  font-family: "iconfont"; /* Project id 3512129 */
  src: url('iconfont.woff2?t=1659352682732') format('woff2'),
       url('iconfont.woff?t=1659352682732') format('woff'),
       url('iconfont.ttf?t=1659352682732') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e66c";
}

.icon-link:before {
  content: "\e676";
}

.icon-lock:before {
  content: "\e678";
}

.icon-menu1:before {
  content: "\e679";
}

.icon-loading1:before {
  content: "\e67a";
}

.icon-play:before {
  content: "\e67c";
}

.icon-picture:before {
  content: "\e680";
}

.icon-sign-out:before {
  content: "\e681";
}

.icon-time:before {
  content: "\e683";
}

.icon-unlock:before {
  content: "\e684";
}

.icon-top-filling:before {
  content: "\e68c";
}

.icon-ellipsis-vertical:before {
  content: "\e76a";
}

.icon-menu:before {
  content: "\e86b";
}

.icon-loading:before {
  content: "\e891";
}

.icon-browse:before {
  content: "\e66a";
}

.icon-bad:before {
  content: "\e66b";
}

.icon-email:before {
  content: "\e66f";
}

.icon-error:before {
  content: "\e670";
}

.icon-favorite:before {
  content: "\e671";
}

.icon-fabulous:before {
  content: "\e672";
}

.icon-good:before {
  content: "\e673";
}

.icon-hide:before {
  content: "\e674";
}

.icon-home:before {
  content: "\e675";
}

.icon-refresh:before {
  content: "\e67b";
}

.icon-search:before {
  content: "\e67d";
}

.icon-success:before {
  content: "\e67f";
}

.icon-setting:before {
  content: "\e67e";
}

.icon-user:before {
  content: "\e682";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-delete-filling:before {
  content: "\e689";
}

.icon-favorite-filling:before {
  content: "\e68a";
}

.icon-success-filling:before {
  content: "\e68b";
}

.icon-add:before {
  content: "\e664";
}

.icon-add-circle:before {
  content: "\e666";
}

.icon-arrow-down:before {
  content: "\e667";
}

.icon-ashbin:before {
  content: "\e669";
}

.icon-close:before {
  content: "\e668";
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-map:before {
  content: "\e677";
}

